header{
    display: flex;
    background-color: green;
}
.header-container{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background-color: #131921;
}
.search-container{
    flex: 1;
    max-width: 600px;
    max-height: fit-content;
    
}
.search-input{
    flex: 1;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border: 4px 0 0 4px;
    width: 400px ;
    height: auto;
    
    

}
.search-button {
    padding: 10px 15px;
    background-color: #febd69;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
    
}

.search-button:hover {
    background-color: #f3a847;
}
.sign-in{
    background-color: green;
    padding: 10px 15px;
    border: none;
    cursor: pointer;

}